# Ignore everything in the .venv folder
.venv/
preprocessed_data/

# Ignore everything in the Images and checkpoints folder
Images/
checkpoints/

# Ignore the draft .py and .xml structure files
notebook.py
*.xml
datscan_vae.pt
/__pycache__
*.pt
model_checkpoints/semisupervised_vae_latest.pth
checkpoints/autoencoder_v1_checkpoint.pth
checkpoints/autoencoder_v1_metadata.json
checkpoints/autoencoder_v1_training_history.png
cache/processed_data.h5
